# Web Framework and Server
fastapi
uvicorn[standard]

# AI / Deep Learning
torch
torchvision
transformers
timm

# Media Processing
opencv-python-headless
librosa
mtcnn

# Database
sqlalchemy
psycopg2-binary

# Utilities
python-multipart